.idea
.env
.vscode
.cargo
target
_site

**/*.bc
**/*.cubin
**/*.mlir
**/core
scratch
temp
*~
scripts/publish.sh

# Claude Code per-machine permission overrides; created on every machine that runs it, including the pod.
.claude/settings.local.json
